.userPanel {
    background-color: var(--panelBg);
    position: fixed;
    right: 1vw;
    top: 10px;
    width: 200px;
    height: auto;
    padding: 10px;
    box-shadow: 1px 1px 5px var(--boxShadow);
    z-index: 1;
}
.userIconBox {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}
img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgb(200, 200, 200);
}
.userPanelMessage {
    text-align: center;
}
.userPanelMessage h3 {
    margin: 5px;
    color: var(--blackFont);
}
.userPanelList {
    padding: 10px;
    margin: 0;
    text-align: left;
    list-style-type: none;
}
.userPanelList li {
    margin: 10px 0;
    color: var(--blackFont);
}
li:hover {
    cursor: pointer;
}


