.productCardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
}

.card {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
    width: 180px;
    height: 275px;
    background-color: white;
    border-style: none;
    box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.501);
}

.card:hover {
    box-shadow: 0px 0px 10px rgb(200, 200, 200);
}


.sellerOnCard {
    display: flex;
    align-items: center;
}

.cardImg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.sellerOnCard div{
    margin: 2px;
    font-size: 12px;
    color: gray;
}

.sellerOnCard div:hover{
    color: rgb(80, 80, 80);
    cursor: pointer;
}

.productPicOnCard{
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    object-fit: cover;
    box-shadow: none;
    overflow: hidden;
}

.productNameOnCard {
    font-size: 20px;
    height: 25px;
    margin: 0px;
    padding-left: 5px;
    padding-top: 2px;
    color: gray;
    overflow: hidden;
}

.productDetailOnCard {
    font-size: 10px;
    padding: 4px 10px;
    height: 23px;
    color: rgb(100, 100, 100);
    overflow: hidden;
}

.productPriceOnCard {
    text-align: right;
    font-size: 15px;
    padding-right: 5px;
    padding-top: 2px;
    margin: 0;
    color: rgb(58, 157, 207);
}

.productCardSellCount {
    font-size: 12px;
    margin-left: 5px;
}

.productBigCardBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-items: center;
    align-content: center;
    z-index: 1;
}

.productCardClickArea:hover {
    cursor: pointer;
}

@media (max-width: 450px) {
    .card {
        margin: 10px;
        padding: 0;
        width: 120px;
        height: max-content;
    }

    .sellerOnCard div{   
        font-size: 11px;
    }
    
    .productPicOnCard{
        width: 120px;
        height: 120px;
    }

    .productNameOnCard {
        font-size: 16px;
        overflow: hidden;
        height: 25px;
    }

    .productDetailOnCard {
        font-size: 10px;
        padding: 4px 10px;
        height: 35px;
    }

    .productPriceOnCard {
        font-size: 10px;
    }
}
